{% extends "layout.html" %}
{% block body %}
  <section class="billboard products">
    <h1>List of classes</h1>
      <table id="slide-list" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Classe</th>
          </tr>
        </thead>
        <tbody>
          {% for c in classes %}
            <tr>
              <td><a href="{{ url_for('listOfStudentsPerClass', class_id=c.id) }}">{{ c.id }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </section>
{% endblock %}
