{% extends "layout.html" %}
{% block body %}
  <section class="billboard products">
    <h1 class="scr-title">Smart Classroom dashboard</h1>
      <h2> {{ student.prenom }} {{ student.nom }} </h2>
      <div class="container-fluid">
        <div class="row-fluid">
          <div class="span2">
            <ul>
              <li><strong>ID: </strong> {{ student.numInscription }}</li>
              <li><strong>Classe: </strong> {{ student.classe }}</li>
              <li><strong>Date Naissance : </strong> {{ student.date_naissance }}</li>
            </ul>
          </div>
          <div class="span10">
            <table id="slide-list" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Séance</th>
                  <th>Date</th>
                  <th>Heure d'entrée</th>
                  <th>Présence</th>
                </tr>
              </thead>
              <tbody>
                {% for p in presence %}
                   
                  <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ (((p.seance_id|getSession).matiere)|getMatiere).label }}</td>
                    <td>{{ (p.seance_id|getSession).date }}</td>
                    <td>{{ p.heure_entree }}</td>
                    <td>
                      <input type="checkbox" name="pr{{ student.numInscription}}" {% if p.etat %} checked {% endif %}/>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
           </div>
        </div>
      </div>
  </section>
{% endblock %}
